.active-page-indicator {
  width: 100%;
  padding: 10px 0;
  display: flex;
  position: relative;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    border-bottom: 1px solid #666;
    z-index: 1;
  }
  span {
    width: 150px;
    text-align: center;
    padding: 5px 30px;
    border: 1px solid #666;
    background-color: #fff;
    z-index: 1;
    text-transform: uppercase;
  }
}
#dark .active-page-indicator {
  span {
    background-color: #2e3337;
    color: #dfdfdf;
  }
}
