@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;300;600;700&family=Ibarra+Real+Nova:wght@400;600;700&family=Inria+Serif:wght@300;400;700&family=Lovers+Quarrel&family=Oswald:wght@200;300;600&display=swap");

/* font-family: 'Antonio', sans-serif;
font-family: 'Ibarra Real Nova', serif;
font-family: 'Inria Serif', serif;
font-family: 'Lovers Quarrel', cursive;
font-family: 'Oswald', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: "Antonio", sans-serif;
  --lightGray: #dfdfdf;
  --gray: #666;
  --darkGray: #2e3337;
  --pink: #ff9800;
  --pisnk: rgb(255, 207, 134);
  --mint: #37ccae;
}

body {
  // position: relative;
  overflow-x: hidden;
}

.App {
  position: relative;
  // background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
  // url("../media/img/background.jpg");
  color: #2e3337;
  transition: 0.3s;
  overflow-x: hidden;
  overflow-y: hidden;
  .App-header {
    position: relative;
  }
  .pink {
    color: #ff9800;
  }
  a {
    color: #ff9800;
    text-decoration: none;
  }
  .page-container {
    width: 100%;
  }
  #Info-Portal {
    position: fixed;
    width: 100%;
    bottom: 50%;
    transform: translateY(50%);
  }
  footer {
    padding: 20px;
    min-height: 100px;
  }
}
#canvas-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#dark {
  transition: 0.3s;

  // background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  //   url("../media/img/background.jpg");
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ff9800;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
