button {
  background-color: #ff9800;
  border: none;
  padding: 10px;
  color: #2e3337;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

button:disabled {
  background-color: #dfdfdf;
  cursor: not-allowed;
}

// button:hover {
//   background-color: #2e3337;
//   color: #ff9800;
// }

#dark {
  button {
    background-color: #2e3337;
    border: 1px solid #ff9800;
    color: #ff9800;
  }

  // button:hover {
  //   background-color: #ff9800;
  //   color: #2e3337;
  // }

  .info-btn {
    background-color: #ff9800;
    color: #2e3337;
    border: none;

    &.open {
      background-color: #37ccae;
      color: #2e3337;
      border: none;
    }
  }
}

.info-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 35px;
  font-family: "Lovers Quarrel", cursive;
  background-color: #ff9800;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 3rem;
  line-height: 10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  border: none;
  &.open {
    background-color: #37ccae;
    color: #2e3337;
    border: none;
  }
}

.progres-hover {
  background-image: linear-gradient(
    to left,
    #2e3337 0%,
    #2e3337 47%,
    #000 48%,
    #000 52%,
    #ff9800 53%,
    #ff9800 100%
  );
  background-size: 250%;
  background-position: 100%;
  transition: 1s;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  span {
    display: flex;
    align-items: center;
    svg {
      width: 30px;
      margin: 0 5px;
      fill: #2e3337;
      transition: 0.2s;
    }
  }
  &:hover {
    left: 0%;
    transition: 1s;
    background-position: 0%;

    span {
      display: flex;
      align-items: center;
      svg {
        transition: 0.1s;
        transition-delay: 0.4s;
        fill: orange;
      }
    }
  }
}

#dark .progres-hover {
  background-image: linear-gradient(
    to left,
    #dfdfdf 0%,
    #dfdfdf 47%,
    #000 48%,
    #000 52%,
    #ff9800 53%,
    #ff9800 100%
  );
}
