.info-bar {
  position: fixed;
  top: 50%;
  width: 100%;
  padding: 30px;
  background-color: #37ccae;
  color: #2e3337;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
  svg {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    fill: #2e3337;
  }
}

@media screen and (max-width: 768px) {
  .info-bar {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .info-bar {
    font-size: 1.1rem;
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
