.portfolio-page {
  > div + div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    > div {
      position: relative;
      width: calc(100% / 3);

      > a {
        display: block;
        transition: 0.3s;
        width: 100%;
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0%);
          transition: 0.5s;
        }
        > img {
          width: 100%;
        }
        > div {
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 30px 30px 30px 70px;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.6);
          top: 0;
          left: 0;
          transform-origin: top left;
          transform: rotateX(90deg);
          backdrop-filter: blur(5px);
          transition: 0.3s;
          p {
            padding: 5px;
          }
          span {
            background-color: #37ccae;
            color: #000;
            margin: 3px;
            padding: 3px 5px;
            font-size: 0.7rem;
          }
        }
      }
      .open + a {
        // transition: 0.3s;
        filter: grayscale(0%);
        div {
          transform: rotateX(0deg);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-page {
    position: relative;
    div + div {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      div {
        width: 50%;
        a {
          filter: grayscale(0%);
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .portfolio-page {
    position: relative;
    div + div {
      div {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        a {
          width: 100%;
          div {
            p {
              font-size: 0.8rem;
            }
            span {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}
